{{each(key,dataItem) $data}}
{{if ( key!="__type" && $data[key].length>0 )}}
<h2 class="inline" id="captionFor${key}">${key}</h2> <p class="h3 inline">(${$data[key].length}{{if $data['Absolute' + key + 'Count'] != $data[key].length }} of  ${$data['Absolute' + key + 'Count']} displayed. Please refine your search for fewer results. {{/if}})</p>
<div role="grid" aria-labelledby="captionFor${key}" style="width:100%" id="${key}Results">
	<table role="presentation" id="headerFor${key}" class="standard-table standard-table-full">
		<thead role="rowgroup">
			<tr role="row">
			    {{tmpl(key,{rowCount:$data[key].length, absRowCount: $data['Absolute' + key + 'Count'], entityName:key}) selectHeaderTemplate(key)}}					
			</tr>
		</thead>
	</table>
	<div class="results-container" style="${searchGetHeightForScrollDiv($data[key].length)}">
		<table role="presentation" id="dataResultsFor${key}" class="standard-table standard-table-full">
			<tbody role="rowgroup">
			    {{tmpl($data[key],{objType:key}) selectBaseRowTemplate()}}
			</tbody>
		</table>
	</div>
</div>
{{/if}}
{{/each}}