@using System.Web.UI.DataVisualization.Charting
@using EdFi.Dashboards.Core.Providers.Context
@using EdFi.Dashboards.Presentation.Web.Architecture.HtmlHelperExtensions
@model EdFi.Dashboards.Resources.Models.Charting.ChartData

@{
  var studentUSI = EdFiDashboardContext.Current.StudentUSI.GetValueOrDefault();
  var metricVariantId = EdFiDashboardContext.Current.MetricVariantId.GetValueOrDefault();
}

<script type="text/javascript" language="javascript">
    analyticsManager.trackDrilldown('StudentStateAssessmentNotNormalizedChart', '@(metricVariantId)', '@(studentUSI)');
</script>
@if (Model == null)
{
    <span class="MetricNoData">No data available.</span>
}
else
{
    <div>
        @*@Html.BarChart(Model, 740, 250, 3500, 0, 3500, "{0}", false, SeriesChartType.Column, true)*@
        @Html.BarChart(Model, 740, 250, 0, 0, 0, "{0}", false, SeriesChartType.Column, true)

        <span class="MetricSubTitle">Scores include both scale and vertical scores which are not comparable. Graph displays scale and vertical scores.</span>
    </div>
}
