<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Dashboard"
            connectionString="Data Source=(local);Persist Security Info=True; 
                User Id=edfiPService;
                Password=edfiPService;
                database=EdFi_Dashboard"
            providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration> 