<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="EdFi Code Analysis Ruleset" Description=" " ToolsVersion="12.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1005" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1301" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1703" Action="Error" />
    <Rule Id="CA1704" Action="Error" />
    <Rule Id="CA1709" Action="Error" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2104" Action="None" />
    <Rule Id="CA2204" Action="Error" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2227" Action="None" />
  </Rules>
</RuleSet>