@using EdFi.Dashboards.Presentation.Web.Utilities
@using EdFi.Dashboards.Presentation.Core.Utilities
@model EdFi.Dashboards.Metric.Resources.Models.State
<p title="@(Model.StateText)">
            @if (ViewBag.DisplayText != null)
            {
                @ViewBag.DisplayText
            }
            else
            {
                @Model.DisplayStateText
            }
            @*<em class="hidden">@Legacy.EvaluateState(Model.StateType)</em>*@
</p>
