<div id="edfi-standard-alert">
    <p>
        <span id="edfi-alert-status"></span>
        <span id="edfi-alert-message"></span>
    </p>
    <div class="edfi-alert-close"><i class="icon-cancel" title="Close alert."></i></div>
</div>