@using System.Web.Mvc.Html

<div class="l-legend" aria-hidden="true">
    <dl class="l-accommodations">
        <dt><i class="icon-gifted-and-talented"></i></dt><dd>Gifted & Talented</dd>
        <dt><i class="icon-special-education"></i></dt><dd>Special Education</dd>
        <dt><i class="icon-504-designation"></i></dt><dd>504 Designation</dd>
        <dt><i class="icon-esl"></i></dt><dd>ESL, LEP or Bilingual</dd>
        <dt><i class="icon-late-enrollment"></i></dt><dd>Late Enrollment</dd>
        <dt><i class="icon-partial-transcript"></i></dt><dd>Partial Transcript</dd>
        <dt><i class="icon-test-ccommodation"></i></dt><dd>Test Accommodation</dd>
    </dl>
    
    <dl class="l-goal">
        <dt><span class="status-goal-met"></span></dt><dd>Met Goal</dd>
        <dt><span class="status-goal-not-met"></span></dt><dd>Below Goal</dd>
    </dl>
    
    <dl class="l-trends">
        <dt><i class="icon-up-dir arrow-green"></i></dt><dd>Getting<br/>Better</dd>
        <dt><i class="icon-down-dir arrow-red"></i></dt><dd>Getting<br/>Worse</dd>
        <dt><i class="icon-no-change arrow-grey"></i></dt><dd>No Change</dd>
    </dl>
</div>