@model HandleErrorInfo

@{
    ViewBag.Title = "SecurityAccessDeniedException";
    Layout = "_SiteLayout.cshtml";
}

@section head {
    <title>Security Access Denied</title>
}

@section ContentPlaceHolderTopMost {
    <p>
    You do not have access to the requested page. 
    </p>
    <p> 
    If you feel you have reached this page in error, please submit a support request.
    </p>
}
