<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Dashboard"
            connectionString="Data Source=10.223.3.16\INSTANCE1;Persist Security Info=True; 
                User Id=sa;
                Password=P@ssw0rd;
                database=EdFiDev_Dashboard_v2"
            providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>