@using EdFi.Dashboards.Common
@using EdFi.Dashboards.Common.Utilities
@using EdFi.Dashboards.Core.Providers.Context
@using EdFi.Dashboards.Presentation.Core.Areas.Staff.Controllers
@using EdFi.Dashboards.Presentation.Core.Models.Shared
@using EdFi.Dashboards.Presentation.Core.Providers.Models
@using EdFi.Dashboards.Presentation.Web.Utilities
@using EdFi.Dashboards.Resources.Models.CustomGrid
@using EdFi.Dashboards.Resources.Navigation.Mvc
@using EdFiGridModel = EdFi.Dashboards.Presentation.Core.Models.Shared.EdFiGridModel

@model EdFi.Dashboards.Presentation.Core.Areas.Staff.Models.Shared.StaffStudentListModel
           
@{
  var localEducationAgencyId = EdFiDashboardContext.Current.LocalEducationAgencyId.GetValueOrDefault();
  var schoolId = EdFiDashboardContext.Current.SchoolId.GetValueOrDefault();
  var staffUSI = EdFiDashboardContext.Current.StaffUSI.GetValueOrDefault();
  var callbackUrl = EdFiDashboardContext.Current.RoutedUrl;
}

@section ContentPlaceHolderHead {
    <title>@(Html.Action("Title", typeof(StaffLayoutController).GetControllerName(), new { subTitle = "General Overview" }))</title>
    <script type="text/javascript">
        var pageArea = { Area: 'classroom', Page: 'General Overview' };
    </script>
}

@section ContentPlaceHolder1 {
   @{
       var edFiGridModelProvider = IoC.Resolve<IEdFiGridModelProvider>();

       var edfiGridModel = edFiGridModelProvider.GetEdFiGridModel(true, true, 0, "GeneralOverview", null,
           Model.GridTable, null, Model.GetDefaultNonPersistedSettings("GeneralOverviewEdFiGrid"),
           true, "StudentList", Model.LegendViewNames, null, true, callbackUrl, true, Model.GridTable.WatchList, null, null, null, "GeneralOverview",null,ListType.ClassroomGeneralOverview);

        Html.RenderPartial("EdFiGrid", model: edfiGridModel);
        
        if (Model.IsCurrentUserListOwner)
        {
            var customStudentListModel = new CustomStudentListModel
                                             {
                                                ControlId = "GeneralOverview",
                                                IsCustomStudentList = Model.IsCustomStudentList,
                                                LinkParentIdentifier = "#GeneralOverview-EdFiGrid-interaction-custom",
                                                CheckboxParentIentifier = "#GeneralOverview-EdFiGrid-fixed-data-table",
                                                SelectAllCheckboxParentIentifier = "#GeneralOverview-EdFiGrid-fixed-header-table",
                                                CustomStudentListId = Model.IsCustomStudentList ? Model.ListId : (long?)null,
                                                LocalEducationAgencyId = localEducationAgencyId,
                                                SchoolId = schoolId, 
                                                StaffUSI = staffUSI,
                                                CustomStudentListUrl = EdFiDashboards.Site.Staff.CustomStudentList(schoolId, staffUSI, null, new { format = "json" })
                                             };
            
            Html.RenderPartial("CustomStudentList", model: customStudentListModel);
        }
    }

    @if (Model.IsCurrentUserListOwner)
    {
        <script>
            $('#GeneralOverview-EdFiGrid').bind('afterDrawEvent', function(e, table) {
                GeneralOverviewCustomStudentList.redrawCheckboxes();
            });
        </script>
    }

    <script type="text/javascript">
        $('#GeneralOverview-EdFiGrid').bind('afterMaximizeEvent', function (e, table) {
            $('#GeneralOverview-EdFiGrid-interaction-custom2').append($('#StaffSlidingSubmenu'));
        });

        $('#GeneralOverview-EdFiGrid').bind('afterRestoreDownEvent', function (e, table) {
            $('#StaffSlidingMenuHome').append($('#StaffSlidingSubmenu'));
        });
    </script>
}
