@using EdFi.Dashboards.Core.Providers.Context
@using EdFi.Dashboards.Presentation.Core.Areas.StudentSchool.Models.Shared
@using EdFi.Dashboards.Resources.Navigation
@using Utilities.ExtensionMethods.HtmlHelper
@model EdFi.Dashboards.Resources.Models.Student.Detail.CurrentCourses.CurrentCoursesModel

@{
    var studentUSI = EdFiDashboardContext.Current.StudentUSI.GetValueOrDefault();
    var metricVariantId = Html.GetMetricIdOrDefault();
}

    <script>
        analyticsManager.trackDrilldown('StudentCurrentCoursesList', '@(metricVariantId)', '@(studentUSI)');
    </script>

    @if (Model.Semesters.Any())
    {
        var semesterCount = 0;
        foreach (var semester in Model.Semesters)
        {
            var termKey = string.Format("{0}-{1}-{2}", Model.StudentUSI, metricVariantId, semester.Term.Replace(" ", ""));
            <br/>
            @Html.Partial("TermCourses", new TermCoursesModel { Model = semester, DisplayCreditText = semesterCount == 0, TermKey = termKey})
            semesterCount++;
        }
    }
    else
    {
        <p class="metric-no-data">No data available.</p>
    }

