<microsoft.identityModel>
    <service>
      <audienceUris>
        <add value="" />
      </audienceUris>
      <applicationService>
        <claimTypeRequired>
          <!--Following are the claims offered by STS 'http://localhost:5009/EdFi.Dashboards.Presentation.Web_STS/'. Add or uncomment claims that you require by your application and then update the federation metadata of this application.-->
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="false" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="false" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" optional="false" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" optional="false" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/userdata" optional="false" />
        </claimTypeRequired>
      </applicationService>
      <claimsAuthenticationManager type="EdFi.Dashboards.Resources.Security.CustomClaimsAuthenticationManager, EdFi.Dashboards.Resources.Security"/>
      <maximumClockSkew value="0:00:05:00" />
      <federatedAuthentication>
        <wsFederation passiveRedirectEnabled="true" issuer="" realm="" requireHttps="true" />
        <!-- EdFi.Dashboards.SecurityTokenService.Web/ -->
        <cookieHandler requireSsl="true" persistentSessionLifetime="30" />
      </federatedAuthentication>
      <serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="949109AF20A9B96C6ADD3DB6F332AD6A5E0D2DD1" />
      </serviceCertificate>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add thumbprint="F6EA52BB5C736F79D28E5C50872771C09BC882D1" name="" />
          <!-- EdFi.Dashboards.SecurityTokenService.Web -->
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
</microsoft.identityModel>