<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="inversionOfControl" type="EdFi.Dashboards.Common.Configuration.InversionOfControlConfiguration, EdFi.Dashboards.Common" />
    <section name="systemSupport" type="EdFi.Dashboards.Common.Configuration.Support.SystemSupportConfiguration, EdFi.Dashboards.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="locationAuthorizationSection" type="EdFi.Dashboards.Common.Configuration.LocationAuthorizationConfiguration, EdFi.Dashboards.Common" />
    <section name="authorizationMatches" type="Talifun.Web.RegexUrlAuthorization.Config.RegexUrlAuthorizationSection, EdFi.Dashboards.Presentation.Architecture" requirePermission="false" allowDefinition="MachineToApplication" />
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <!--<section name="cassette" type="Cassette.CassetteConfigurationSection, Cassette" />-->
    <section name="timeoutWarning" type="EdFi.Dashboards.Common.Configuration.TimeoutWarningConfiguration, EdFi.Dashboards.Common" />
    
  <section name="cassette" type="Cassette.CassetteConfigurationSection, Cassette" requirePermission="false" /></configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- The appSettings section is currently overlaid during build/deployment.
                     Please update the appropriate build/deployment environment specific config 
                     files with any changes that need to be propagated. -->
    <add key="log4net.Internal.Debug" value="true" />
    <!-- For use on developer workstation -->
    <add key="PersistedRepositoryDirectory" value="c:\Projects\EdFiData" />
    <add key="PersistedRepositoryBucketCount" value="256" />
    <add key="LoadFromWarehouse" value="true" />
    <add key="TopRightCornerLegend" value="Sample Student Data" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\Temp\AspNetCharting\;deleteAfterServicing=false;" />
    <add key="DefaultAppTheme" value="Theme1" />
    <add key="CacheInterceptor.SlidingExpiration" value="5" />
    <add key="CacheInterceptor.Enabled" value="true" />
    <!--<add key="GoogleAnalyticsId" value="UA-17597424-8" />-->
    <add key="defaultpage.training_and_planning.href" value="Docs/" />
    <add key="FederationMetadataLocation" value="https://localhost/EdFiDashboardDev_STS/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="showExceptionDetails" value="true" />
    
    <add key="jira.defaultAssignee" value="changeme@provider.com" />
    <add key="jira.defaultProjectName" value="Ed-Fi Support" />
    <add key="jira.defaultIssueType" value="System Error" />
    <add key="jira.defaultSecurityLevel" value="Region" />
    <add key="RemoveNamesFromRoute" value="True" />

    <add key="AppVer" value="Dev 2.0" />
    <!-- Fix : EDFIDB-60 -->
    <add key="InterventionURL" value="http://demo.qforedu.com/local/programmgmt/index.php" />
    <!-- Fix : EDFIDB-124 -->
    <add key="MoodleTokenAuthendpoint" value="http://qa-qiis.qforedu.com/webservice/rest/server.php?wstoken=f4db48992b5e64fac2121a249aa009dc" />
    
  </appSettings>
  
  <!-- For configuration options: http://getcassette.net/documentation/v2/web-config --><cassette debug="false" rewriteHtml="false"></cassette>
  <connectionStrings>
    <!-- NOTE: Add new connection string placeholders for deployment in Web.connectionStrings.config -->
    <clear />
    <add name="Application_Db" connectionString="Database=EdFiDev_Application_v2  ; Data Source=10.223.3.16\INSTANCE1; Persist Security Info=True; User Id=sa; Password=P@ssw0rd;" providerName="System.Data.SqlClient" />
    <!-- Depending on the setup that you require we support various types of DB separation.-->
    <add name="GrandBendISD" connectionString="Database=EdFiDev_Dashboard_v2; Data Source=10.223.3.16\INSTANCE1; Persist Security Info=True; User Id=sa; Password=P@ssw0rd;" providerName="System.Data.SqlClient" />
    <!-- If historical information is going to be displayed you will need a DataWarehouse-->
    <add name="DataWarehouse" connectionString="Database=EdFiDev_DashboardDW_v2; Data Source=10.223.3.16\INSTANCE1; Persist Security Info=True; User Id=sa; Password=P@ssw0rd;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- IMPORTANT: The Extensions assemblies have to be registered first so that if there are any overrides they will be registered with the IoC container first -->
  <inversionOfControl>
    <installers>
      <add name="Configuration-Specific Installer" typeName="EdFi.Dashboards.Presentation.Web.Utilities.CastleWindsor.Development.ConfigurationSpecificInstaller, EdFi.Dashboards.Presentation.Web" />
      <add name="Controllers" typeName="EdFi.Dashboards.Presentation.Architecture.CastleWindsor.ControllerInstaller`1[[EdFi.Dashboards.Presentation.Web.Marker_EdFi_Dashboards_Presentation_Web, EdFi.Dashboards.Presentation.Web]], EdFi.Dashboards.Presentation.Architecture" />
      <add name="Controllers - Core" typeName="EdFi.Dashboards.Presentation.Architecture.CastleWindsor.ControllerInstaller`1[[EdFi.Dashboards.Presentation.Core.Marker_EdFi_Dashboards_Presentation_Core, EdFi.Dashboards.Presentation.Core]], EdFi.Dashboards.Presentation.Architecture" />
      <add name="Controllers - Architecture" typeName="EdFi.Dashboards.Presentation.Architecture.CastleWindsor.ControllerInstaller`1[[EdFi.Dashboards.Presentation.Architecture.Marker_EdFi_Dashboards_Presentation_Architecture, EdFi.Dashboards.Presentation.Architecture]], EdFi.Dashboards.Presentation.Architecture" />
      <add name="Extensions - Services" typeName="EdFi.Dashboards.Resources.CastleWindsorInstallers.GenericServiceInstaller`1[[EdFi.Dashboards.Extensions.Resources.Marker_EdFi_Dashboards_Extensions_Resources, EdFi.Dashboards.Extensions.Resources]], EdFi.Dashboards.Resources" />
      <add name="Extensions - Repositories" typeName="EdFi.Dashboards.Resources.CastleWindsorInstallers.RepositoryInstaller`1[[EdFi.Dashboards.Extensions.Data.Marker_EdFi_Dashboards_Extensions_Data, EdFi.Dashboards.Extensions.Data]], EdFi.Dashboards.Resources" />
      <!-- This section lets you register extensions for Warehouse repositories, Services, and Data Repositories. 
     Replace <State> with the name of your state, ISD or project.
      <add name="<State> Extensions - Warehouse Repositories" typeName="EdFi.Dashboards.Warehouse.Resources.CastleWindsorInstallers.WarehouseNamedConnectionRepositoryInstaller`1[[EdFi.Dashboards.Extensions.<State>.Warehouse.Data.Marker_EdFi_Dashboards_Extensions_<State>_Warehouse_Data, EdFi.Dashboards.Extensions.<State>.Warehouse.Data]], EdFi.Dashboards.Warehouse.Resources" />
      <add name="<State> Extensions - Services"           typeName="EdFi.Dashboards.Resources.CastleWindsorInstallers.GenericServiceInstaller`1[[EdFi.Dashboards.Extensions.<State>.Resources.Marker_EdFi_Dashboards_Extensions_<State>_Resources, EdFi.Dashboards.Extensions.<State>.Resources]], EdFi.Dashboards.Resources" />
      <add name="<State> Extensions - Repositories"       typeName="EdFi.Dashboards.Resources.CastleWindsorInstallers.RepositoryInstaller`1[[EdFi.Dashboards.Extensions.<State>.Data.Marker_EdFi_Dashboards_Extensions_<State>_Data, EdFi.Dashboards.Extensions.<State>.Data]], EdFi.Dashboards.Resources" />
      -->
      <add name="EdFi Domain Security Components" typeName="EdFi.Dashboards.Resources.Security.CastleWindsorInstallers.SecurityComponentsInstaller, EdFi.Dashboards.Resources.Security" />
      <add name="EdFi Domain Services" typeName="EdFi.Dashboards.Resources.CastleWindsorInstallers.GenericServiceInstaller`1[[EdFi.Dashboards.Resources.Marker_EdFi_Dashboards_Resources, EdFi.Dashboards.Resources]], EdFi.Dashboards.Resources" />
      <add name="EdFi Metric Services" typeName="EdFi.Dashboards.Resources.CastleWindsorInstallers.MetricServiceInstaller, EdFi.Dashboards.Resources" />
      <add name="EdFi Domain Repositories" typeName="EdFi.Dashboards.Resources.CastleWindsorInstallers.RepositoryInstaller`1[[EdFi.Dashboards.Data.Marker_EdFi_Dashboards_Data, EdFi.Dashboards.Data]], EdFi.Dashboards.Resources" />
      <add name="EdFi Metric Repositories" typeName="EdFi.Dashboards.Resources.CastleWindsorInstallers.RepositoryInstaller`1[[EdFi.Dashboards.Metric.Data.Entities.Marker_EdFi_Dashboards_Metric_Data_Entities, EdFi.Dashboards.Metric.Data.Entities]], EdFi.Dashboards.Resources" />
      <add name="EdFi Domain Queries" typeName="EdFi.Dashboards.Data.CastleWindsorInstallers.QueryInstaller`1[[EdFi.Dashboards.Data.Marker_EdFi_Dashboards_Data, EdFi.Dashboards.Data]], EdFi.Dashboards.Data" />
      <add name="EdFi Application Repositories" typeName="EdFi.Dashboards.Resources.CastleWindsorInstallers.PersistedRepositoryInstaller`1[[EdFi.Dashboards.Application.Data.Marker_EdFi_Dashboards_Application_Data, EdFi.Dashboards.Application.Data]], EdFi.Dashboards.Resources" />
      <add name="EdFi Application Services" typeName="EdFi.Dashboards.Resources.CastleWindsorInstallers.GenericServiceInstaller`1[[EdFi.Dashboards.Application.Resources.Marker_EdFi_Dashboards_Application_Resources, EdFi.Dashboards.Application.Resources]], EdFi.Dashboards.Resources" />
      <add name="EdFi Warehouse Repositories" typeName="EdFi.Dashboards.Warehouse.Resources.CastleWindsorInstallers.WarehouseNamedConnectionRepositoryInstaller`1[[EdFi.Dashboards.Warehouse.Data.Marker_EdFi_Dashboards_Warehouse_Data, EdFi.Dashboards.Warehouse.Data]], EdFi.Dashboards.Warehouse.Resources" />
      <add name="EdFi Warehouse Services" typeName="EdFi.Dashboards.Resources.CastleWindsorInstallers.GenericServiceInstaller`1[[EdFi.Dashboards.Warehouse.Resources.Marker_EdFi_Dashboards_Warehouse_Resources, EdFi.Dashboards.Warehouse.Resources]], EdFi.Dashboards.Resources" />
      <!--<add name="Route Mapping Components - Remove Names" typeName="EdFi.Dashboards.Presentation.Core.Utilities.CastleWindsor.RemoveMetricStaffAndStudentNamesRouteMappingComponentsInstaller, EdFi.Dashboards.Presentation.Core" />-->
      <add name="Route Mapping Components - Default" typeName="EdFi.Dashboards.Presentation.Core.Utilities.CastleWindsor.DefaultRouteMappingComponentsInstaller, EdFi.Dashboards.Presentation.Core" />
    </installers>
  </inversionOfControl>
  <locationAuthorizationSection>
    <locationAuthorizations>
      <add name="SchoolStudentMetricTable" area="School" controller="StudentMetricTable" authorizedBy="ViewAllMetrics,ViewMyStudents" />
      <add name="SchoolStudentPriorYearMetricTable" area="School" controller="StudentPriorYearMetricTable" authorizedBy="ViewAllMetrics,ViewMyStudents" />
      <add name="SchoolGradeLevelChart" area="School" controller="GradeLevelChart" authorizedBy="ViewAllMetrics" />
      <add name="SchoolHistoricalChart" area="School" controller="HistoricalChart" authorizedBy="ViewAllMetrics" />
      <add name="SchoolAssessmentRateChart" area="School" controller="AssessmentRateChart" authorizedBy="ViewAllMetrics" />
      <add name="SchoolHistoricalLearningObjectivesChart" area="School" controller="HistoricalLearningObjectivesChart" authorizedBy="ViewAllMetrics" />
    </locationAuthorizations>
  </locationAuthorizationSection>
  <authorizationMatches>
    <urlMatches>
      <urlMatch name="Feedback" expression="/Districts/.*?/Feedback">
        <allow users="*" />
      </urlMatch>
      <!--You will need to use wildcard mappings or specifically map each type to get asp.net 
                        to handle the serving of the file type. It can apply authorization when it is handling
                        the serving of the file -->
      <!-- if changing this URL, don't forget to change the corresponding value of the 
           LocalEducationAgencyAreaRegistration.LocalEducationAgencyPrefix defined 
           in the AreaRegistration implementations -->
      <urlMatch name="Dashboards" expression="/Districts/.*?/.+">
        <deny users="?" />
        <allow users="*" />
      </urlMatch>
    </urlMatches>
  </authorizationMatches>
  <rewriter>
    <!-- These allow the old login page urls to work -->
    <!-- 
    <redirect url="^/Distric1ISD/Login.aspx" to="~/Districts/Distric1ISD/Entry" />    
    -->
  </rewriter>

  <system.web>
    <httpRuntime requestValidationType="EdFi.Dashboards.Presentation.Architecture.WindowsIdentityFoundation.SampleRequestValidator, EdFi.Dashboards.Presentation.Architecture" />
    <!--Added by Federation wizard, commented out by GKM because already have this entry below-->
    <!--<authorization>
      <deny users="?" />
    </authorization>-->
    <authentication mode="None" />
    <trace enabled="true" pageOutput="false" localOnly="true" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!-- ASP.NET MVC support -->
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--Commented out by FedUtil-->
    <!--<authentication mode="Forms"><forms name="LdapAuthCookie" loginUrl="~/Login.aspx" timeout="360" /></authentication>-->
    <identity impersonate="false" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error">
      <error statusCode="404" redirect="~/NotFound.htm" />
    </customErrors>
    <pages theme="Theme1" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls></controls>
      <namespaces>
        <!-- ASP.NET MVC additions -->
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        
      <add namespace="Cassette.Views" /></namespaces>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      
    <add path="cassette.axd" verb="*" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" /></httpHandlers>
    <sessionState timeout="60" />
    <httpModules>
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="SessionAuthenticationModule" type="EdFi.Dashboards.Presentation.Architecture.HttpModules.EdFiAuthenticationModule, EdFi.Dashboards.Presentation.Architecture, Version=1.0.0.0, Culture=neutral" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      
    <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" /></httpModules>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="EdfiCache" duration="600" varyByParam="*" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <probing privatePath="Plugins/" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--End for the school drilldowns auth exceptions.-->
  <system.diagnostics>
    <!--<sources>
      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="C:\Temp\WIF.xml" />
        </listeners>
      </source>
    </sources>-->
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="" />
      </listeners>
    </trace>
  </system.diagnostics>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <!--<add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Web"/>-->
      
      <add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,DELETE,PUT" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,DELETE,PUT" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,DELETE,PUT" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<httpErrors errorMode="Custom">
      <error statusCode="403" subStatusCode="4" path="HttpRedirect.htm" responseMode="File" />
    </httpErrors>-->
    <modules runAllManagedModulesForAllRequests="false">
      <add name="SiteUseModule" type="EdFi.Dashboards.Presentation.Architecture.HttpModules.SiteUseModule, EdFi.Dashboards.Presentation.Architecture, Version=1.0.0.0, Culture=neutral" />
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="" />
      <add name="SessionAuthenticationModule" type="EdFi.Dashboards.Presentation.Architecture.HttpModules.EdFiAuthenticationModule, EdFi.Dashboards.Presentation.Architecture, Version=1.0.0.0, Culture=neutral" preCondition="managedHandler" />
      <!--<add name="ClaimsAuthorizationModule" type="Microsoft.IdentityModel.Web.ClaimsAuthorizationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />-->
      <add name="SiteAvailableModule" type="EdFi.Dashboards.Presentation.Architecture.HttpModules.SiteAvailableModule, EdFi.Dashboards.Presentation.Architecture, Version=1.0.0.0, Culture=neutral" preCondition="managedHandler" />
      <!--
      Uncomment and add appropriate Ids to eneable Analytics.
      <add name="GoogleAnalyticsModule" type="EdFi.Dashboards.Presentation.Architecture.HttpModules.GoogleAnalyticsModule, EdFi.Dashboards.Presentation.Architecture, Version=1.0.0.0, Culture=neutral" preCondition="managedHandler"/>
      <add name="WoopraAnalyticsModule" type="EdFi.Dashboards.Presentation.Architecture.HttpModules.WoopraAnalyticsModule, EdFi.Dashboards.Presentation.Architecture, Version=1.0.0.0, Culture=neutral" preCondition="managedHandler"/>
      -->
      <add name="RegexUrlAuthorizationModule" type="Talifun.Web.RegexUrlAuthorization.RegexUrlAuthorizationModule, EdFi.Dashboards.Presentation.Architecture" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
      <remove name="UrlRoutingModule-4.0" />
      <!-- the empty precondition here forces this to run for all requests-->
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="" />
      <!--<add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Web" />-->
      
    <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" /></modules>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <clear />
        <!--<add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />-->
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    <staticContent>
      <remove fileExtension=".mp4" />
    </staticContent>
  </system.webServer>
  <microsoft.identityModel>
    <service>
      <audienceUris>
        <add value="https://localhost/EdFiDashboardDev/" />
      </audienceUris>
      <applicationService>
        <claimTypeRequired>
          <!--Following are the claims offered by STS 'http://localhost:5009/EdFi.Dashboards.Presentation.Web_STS/'. Add or uncomment claims that you require by your application and then update the federation metadata of this application.-->
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="false" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="false" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" optional="false" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" optional="false" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/userdata" optional="false" />
          <!--Following are the claims offered by STS 'https://localhost/EdFiDashboardDev_STS/'. Add or uncomment claims that you require by your application and then update the federation metadata of this application.-->
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="true" />
          <!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" optional="true" />-->
          <!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/staffUSI" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/localEducationAgencyId" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/fullName" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/org/viewAllMetrics" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/org/viewMyMetrics" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/org/viewAllStudents" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/org/viewMyStudents" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/org/viewOperationalDashboard" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/org/administerDashboard" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/org/manageGoals" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/org/viewAllTeachers" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/org/AccessOrganization" optional="true" />-->
          <!--<claimType type="http://edfi.org/dashboards/identity/claims/Impersonating" optional="true" />-->
        </claimTypeRequired>
      </applicationService>
      <claimsAuthenticationManager type="EdFi.Dashboards.Resources.Security.CustomClaimsAuthenticationManager, EdFi.Dashboards.Resources.Security" />
      <maximumClockSkew value="0:00:05:00" />
      <federatedAuthentication>
        <wsFederation passiveRedirectEnabled="true" issuer="https://localhost/EdFiDashboardDev_STS/" realm="https://localhost/EdFiDashboardDev/" freshness="60" requireHttps="true" />
        <cookieHandler requireSsl="true" persistentSessionLifetime="0:01:00" />
      </federatedAuthentication>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add thumbprint="FAA98C994BF1634476F238473BD12DBB9C405975" name="https://localhost/EdFiDashboardDev_STS/" />
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel>
  <timeoutWarning>
  </timeoutWarning>
</configuration>