<microsoft.identityModel>
    <service>
      <audienceUris>
        <add value="" />
      </audienceUris>
      <applicationService>
        <claimTypeRequired>
          <!--Following are the claims offered by STS 'http://localhost:5009/EdFi.Dashboards.Presentation.Web_STS/'. Add or uncomment claims that you require by your application and then update the federation metadata of this application.-->
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="false" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="false" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" optional="false" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" optional="false" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/userdata" optional="false" />
        </claimTypeRequired>
      </applicationService>
      <claimsAuthenticationManager type="EdFi.Dashboards.Resources.Security.CustomClaimsAuthenticationManager, EdFi.Dashboards.Resources.Security"/>
      <maximumClockSkew value="0:00:05:00" />
      <federatedAuthentication>
        <!-- requireSSL and requireHttps are set to false her because the WIF framework was building the url to the STS as http.
        It is believed that the cause is realted to the load balencer in production holding the SSL cert. The inbound headers SAY
        https however they come into the server on port 80. The framework does not seem the accept the farce. -->
        <wsFederation passiveRedirectEnabled="true" issuer="" realm="" requireHttps="false" />
        <!-- EdFi.Dashboards.SecurityTokenService.Web/ -->
        <cookieHandler requireSsl="false" persistentSessionLifetime="30" />
      </federatedAuthentication>
      <serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="0C10E9F91546C4803AEB9F7A9FCD70D86FE551CF" />
      </serviceCertificate>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add thumbprint="74292DCCB2B437F4F085B3C75CF329C600D510E7" name="" />
          <!-- EdFi.Dashboards.SecurityTokenService.Web -->
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
</microsoft.identityModel>