<appSettings>
    <add key="log4net.Internal.Debug" value="true" /><!-- DO NOT REMOVE THIS!!!!! -->
    <add key="PersistedRepositoryDirectory" value=""/><!-- Value inserted -->
    <add key="PersistedRepositoryBucketCount" value="256"/>
    <add key="TopRightCornerLegend" value="Sample student data."/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\Temp\AspNetCharting\;deleteAfterServicing=false;"/>
    <add key="DefaultAppTheme" value="Theme1"/>
    <add key="CacheInterceptor.SlidingExpiration" value="5"/>
    <add key="CacheInterceptor.Enabled" value="true"/>
    <add key="GoogleAnalyticsId" value="UA-17597424-8"/>
    <add key="showExceptionDetails" value="true" />
    <add key="jira.defaultAssignee" value=""/>
    <add key="jira.defaultProjectName" value="Ed-Fi Support"/>
    <add key="jira.defaultIssueType" value="System Error"/>
</appSettings>
