.SearchBoxText
{
	border-top:1px solid #5a7e98;
    border-bottom:1px solid #5a7e98;
    border-left:1px solid #5a7e98;
	width:150px;
    padding-left: 20px;
    background: white url('img/SearchIcon.png') no-repeat left center;
}

.SearchBoxText input
{
    width:146px;
    margin: 0px;
    border: 0px;
    padding: 2px;
}

.SearchArrow {
    background: url('img/searchArrow.png') no-repeat left center;
    cursor: pointer;
    height: 22px;
    width: 22px;
}

input.Loading
{
	background-image:url('img/loadingSmall.gif');
	background-repeat:no-repeat;
    background-position:right center;
}

input.defaultTextActive,
textarea.defaultTextActive
{ color: #a1a1a1; font-style: italic; }

#searchDiv
{
	border:2px solid #5a7e98;
	width:280px;
    z-index: 100;
}

#searchTable
{
	font-family:Arial;
	font-size:9pt;
	color:#666666;
	width:100%;
	background-color:White
}

#searchTable td
{
	padding:3px 3px 3px 3px;	
}

#searchTable .divider
{
	background-color:#d0e0eb;
	font-weight:bold;
	text-transform:uppercase;
	color:#323232;
	font-size:9pt;
	border-bottom:1px solid #a2a2a2;
	padding-top:6px;
}

#searchTable .subFooter
{
	background-color:#d0e0eb;
	font-weight:bold;
	text-transform:uppercase;
	color:#323232;
	font-size:9pt;
	border-bottom:1px solid #a2a2a2;
}

#searchTable .match,
#searchTable .match .selectedItem
{
	font-weight:bold;	
	color:#000000;
}
#searchTable .selectedItem .match
{
	color:White;
}

#searchTable .selectedItem
{	
	color:#ffffff;
	background-color:#265a7f;
}

#searchTable tr
{	
	cursor:pointer;
}
#searchTable tr:hover
{	
	color:#ffffff;
	background-color:#265a7f;
}

#searchTable tr:hover .match
{	
	color:White;
}

.SearchResultsFilterSelected
{
	cursor:pointer;
	color:#ffffff;
	font-size:8pt;
	font-weight:bold;
	text-align:center;
    text-decoration: none;
    height: 20px;
    width:108px;
	background-image:url('img/FilterSearchButtonBlue.png');
	background-repeat:no-repeat;
    background-position:center center;
    padding-top:1px;
}

.SearchResultsFilterNotSelected
{
	cursor:pointer;
	color:#ffffff;
	font-size:8pt;
	font-weight:bold;
	text-align:center;
    text-decoration: none;
    height: 20px;
    width:108px;
	background-image:url('img/FilterSearchButtonGray.png');
	background-repeat:no-repeat;
    background-position:center center;
    padding-top:1px;
    
}
#buttonSearchAgain
{
    text-align:left;
    vertical-align:middle;
    height: 17px;
    width:103px;
	background-image:url('img/ButtonSearchAgain.png');
	background-repeat:no-repeat;
    background-position:top left;
    padding-top:3px;
    padding-left:5px;
}
.loginAsButtonImage
{
    text-align:left;
    vertical-align:middle;
    height: 17px;
    width:80px;
	background-image:url('img/ButtonLogin.png');
	background-repeat:no-repeat;
    background-position:top left;
    padding-top:3px;
    padding-left:5px;
    color: #ffffff;
    font-size:7pt;
    font-weight:bold;
    text-decoration: none;
}

.loginAsLink a{
    font-weight:bold;
    color: #ffffff;
    text-decoration: none;
}

.loginAsLink a:hover,
.loginAsLink a:active {
    font-weight:bold;
    color: #ffffff;
    text-decoration: none;
}