@using EdFi.Dashboards.Core.Providers.Context
@using EdFi.Dashboards.Presentation.Architecture.Mvc.Extensions
@using EdFi.Dashboards.Resources.Navigation.Mvc
@using EdFi.Dashboards.Common

@{
	Layout = this.GetLayout("_SiteLayout");
}

@section head {
    @RenderSection("ContentPlaceHolderHead", required: false)
}

@section ContentDataHeader{
    @{Html.RenderAction("StudentSchoolHeader", "StudentSchoolLayout");}
}

@section ContentMenu{
    @{Html.RenderAction("Menu", "StudentSchoolLayout");}
}

@section ContentPlaceHolderTopMost {
<div class="l-area-layout">
    @RenderSection("ContentPlaceHolder1", required: false)
</div>

    <!-- PageContext hidden field -->
    <input type="hidden" name="PageContext" value="Student" />

    <!-- The ToolTip -->
    <div id="JQToolTip"></div>

    <script>
        analyticsManager.trackDataView('@EdFiDashboardContext.Current.StudentUSI');

        function exportAll_Click() {
            analyticsManager.trackExport('StudentSchool', 'All');
            window.location = '@(new HtmlString(EdFiDashboards.Site.StudentSchool.ExportAllMetrics(EdFiDashboardContext.Current.SchoolId.GetValueOrDefault(), EdFiDashboardContext.Current.StudentUSI.GetValueOrDefault(), null, new{format="csv"})))';
        }
        
        $(document).ready(function () {
            $(".JQToolTipTarget").tooltip({
                tip: '#JQToolTip',
                effect: 'slide',
                position: 'bottom center',
                bounce: true,
                offset: [10, 0]
            });
            $(".JQToolTipTargetDisabled").tooltip({
                tip: '#JQToolTip',
                effect: 'slide',
                position: 'bottom center',
                bounce: true,
                offset: [10, 0]
            });
        });
    </script>
}
