@model OverviewModel
           
@using EdFi.Dashboards.Common
@using EdFi.Dashboards.Presentation.Architecture.Mvc.Extensions
@using EdFi.Dashboards.Presentation.Core.Areas.LocalEducationAgency.Controllers
@using EdFi.Dashboards.Presentation.Core.Utilities.ExtensionMethods.HtmlHelper
@using EdFi.Dashboards.Presentation.Web.Utilities
@using EdFi.Dashboards.Resources.Models.LocalEducationAgency.Overview
@using EdFi.Dashboards.Resources.Navigation

@{
    ViewBag.Title = "Local Education Agency Overview";
}

@section ContentPlaceHolderHead {
    <title>
        @(Html.Action("Title", typeof(LocalEducationAgencyLayoutController).GetControllerName(), new { subTitle = "Overview" }))
    </title>
    <script type="text/javascript">
        var pageArea = { Area: 'local education agency', Page: 'Academic Dashboard - Overview' };
    </script>
}

@section ContentPlaceHolder1 {
    <div class="l-metrics">
        <h2 class="hidden">LEA Overview</h2>
        <div class="accountability-rating">
            @foreach (var rating in Model.AccountabilityRatings) 
            {
                <p>
                    <span>@rating.Attribute:</span>
                    <span>@rating.Value</span>
                </p>
            }
        </div>

        @{ Html.RenderAction("Get", "Metrics",
                                              new
                                                  {
                                                      renderingMode = Model.RenderingMode,
                                                      localEducationAgencyId = Model.LocalEducationAgencyId,
                                                      metricVariantId = Model.MetricVariantId
                                                  });
        }
    </div>
}
