<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <!--
    <add key="browserType" value="Firefox" />
    <add key="serverAddress" value="msdfdemo.dlpdemo.com" />
    <add key="applicationPath" value="" />
    <add key="localEducationAgency" value="GrandBendISD" />
    <add key="localEducationAgencyId" value="255901" />
    <add key="timeoutSeconds" value="30" />
    <add key="screenshotImagePath" value="C:\temp" />
    -->

    <add key="browserType" value="Firefox" />
    <add key="serverAddress" value="localhost" />
    <add key="applicationPath" value="EdFiDashboardDev" />
    <add key="localEducationAgency" value="GrandBendISD" />
    <add key="localEducationAgencyId" value="255901" />
    <add key="screenshotImagePath" value="C:\temp" />
  </appSettings>
</configuration>
