<?xml version="1.0"?>
<log4net>
  <appender name="ErrorRollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="c:\Temp\EdFiSTSErrorLog.log"/>
    <appendToFile value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <maximumFileSize value="10MB"/>
    <maxSizeRollBackups value="2"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="@Project=%P{Project}%n@Assignee=%P{Assignee}%n@District/org=%P{LocalEducationAgency/org}%n@securityLevel=%P{security Level}%n@issueType=%P{issueType}%n@Component=%P{Component}%n@Campus/Location Name=%P{School/Location Name}%n@Contact Name=%P{Contact Name}%n@Contact Email=%P{Contact Email}%n@Contact Phone=%P{Contact Phone}%n@URL=%P{URL}%n@System Environment=%P{System Environment}%n@Email Timestamp=%P{Email Timestamp}%n%n%n%message%n"/>
    </layout>
  </appender>
  <appender name="FeedbackRollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="c:\Temp\EdFiSTSFeedbackLog.log"/>
    <appendToFile value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <maximumFileSize value="10MB"/>
    <maxSizeRollBackups value="2"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="@Project=%P{Project}%n@Assignee=%P{Assignee}%n@District/org=%P{LocalEducationAgency/org}%n@securityLevel=%P{security Level}%n@issueType=%P{issueType}%n@Component=%P{Component}%n@Campus/Location Name=%P{School/Location Name}%n@Contact Name=%P{Contact Name}%n@Contact Email=%P{Contact Email}%n@Contact Phone=%P{Contact Phone}%n@URL=%P{URL}%n@System Environment=%P{System Environment}%n@Email Timestamp=%P{Email Timestamp}%n%n%n%message%n"/>
    </layout>
  </appender>
  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <!-- In order to get this appender to work on a local system, 'localhost' needs to resolve to 127.0.0.1-->
    <!-- On Win7 this means changing the C:\Windows\System32\drivers\etc\hosts file -->
    <param name="RemoteAddress" value="localhost" />
    <param name="RemotePort" value="877" />
    <layout type="log4net.Layout.XmlLayout">
      <locationInfo value="true" />
    </layout>
  </appender>
	<appender name="error_appender" type="EdFi.Dashboards.Infrastructure.log4net.SmtpCustomAppender, EdFi.Dashboards.Infrastructure">
		<to value="" />
		<from value="" />
		<authentication value="1"/>
		<username value=""/>
		<password value=""/>
		<subject value="Ed-Fi Error Report" />
		<smtpHost value="" />
		<bufferSize value="512" />
		<lossy value="true" />
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="DEBUG"/>
		</evaluator>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="@Project=%P{Project}%n@Assignee=%P{Assignee}%n@District/org=%P{LocalEducationAgency/org}%n@securityLevel=%P{security Level}%n@issueType=%P{issueType}%n@Component=%P{Component}%n@Campus/Location Name=%P{School/Location Name}%n@Contact Name=%P{Contact Name}%n@Contact Email=%P{Contact Email}%n@Contact Phone=%P{Contact Phone}%n@URL=%P{URL}%n@System Environment=%P{System Environment}%n@Email Timestamp=%P{Email Timestamp}%n%n%n%message"/>
		</layout>
	</appender>
	<appender name="feedback_appender" type="EdFi.Dashboards.Infrastructure.log4net.SmtpCustomAppender, EdFi.Dashboards.Infrastructure">
		<to value="" />
		<from value="" />
		<authentication value="1"/>
		<username value=""/>
		<password value=""/>
		<subject value="Ed-Fi Support Request" />
		<smtpHost value="" />
		<bufferSize value="512" />
		<lossy value="true" />
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="DEBUG"/>
		</evaluator>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="@Project=%P{Project}%n@Assignee=%P{Assignee}%n@District/org=%P{LocalEducationAgency/org}%n@securityLevel=%P{security Level}%n@issueType=%P{issueType}%n@Component=%P{Component}%n@Campus/Location Name=%P{School/Location Name}%n@Contact Name=%P{Contact Name}%n@Contact Email=%P{Contact Email}%n@Contact Phone=%P{Contact Phone}%n@URL=%P{URL}%n@System Environment=%P{System Environment}%n@Email Timestamp=%P{Email Timestamp}%n%n%n%message"/>
		</layout>
	</appender>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<file value="c:\Temp\EdFiSTSLog.log"/>
		<appendToFile value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<maximumFileSize value="10MB"/>
		<maxSizeRollBackups value="2"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date - %message%newline"/>
		</layout>
	</appender>
	<root>
		<level value="INFO"/>

    <appender-ref ref="RollingFile"/>
    <appender-ref ref="UdpAppender"/>
    <!--
      <appender-ref ref="SmtpGmailAppender"/>
    -->
  </root>

	<logger name="ErrorReporter">
		<level value="ERROR"/>
		<appender-ref ref="RollingFile"/>
		<!--<appender-ref ref="error_appender"/>-->
		<appender-ref ref="ErrorRollingFile"/>

  </logger>
  <logger name="FeedbackReporter">
    <level value="DEBUG"/>
    <appender-ref ref="feedback_appender"/>
  </logger>

</log4net>