<appSettings>
  <add key="log4net.Internal.Debug" value="true" /><!-- DO NOT REMOVE THIS!!!!! -->
  <add key="IssuerName" value="PassiveSigninSTS"/>
  <add key="SigningCertificateName" value="74292DCCB2B437F4F085B3C75CF329C600D510E7"/>
  <add key="EncryptingCertificateName" value="0C10E9F91546C4803AEB9F7A9FCD70D86FE551CF"/>

  <add key="showExceptionDetails" value="false" />
  <add key="jira.defaultAssignee" value="changeme@provider.com"/>
  <add key="WoopraDomainTracking" value="districtconnections.org"/>

</appSettings>