<ldapConfiguration>
    <directories>
        <add name="LubbockISD" serverAddress="LDAP://ads2.lubbock.isd" domain="lubbock" appUsername="" appPassword="" />
        <add name="AllenISD" serverAddress="LDAP://aisd-dc2.allenisd.net" domain="aisd" appUsername="" appPassword="" />
        <add name="PSJAISD" serverAddress="LDAP://adm-dc-srv3.psjaisd.us" domain="psjaisd" appUsername="" appPassword="" />
        <add name="HaysCISD" serverAddress="LDAP://ldap.hayscisd.net" domain="hays-cisd" appUsername="" appPassword="" />
        <add name="TaylorISD" serverAddress="LDAP://DC2K8B.taylor.isd" domain="TAYLOR" appUsername="" appPassword="" />
        <add name="LewisvilleISD" serverAddress="LDAP://lisd-dc1.lisd.local" domain="LISD" appUsername="" appPassword="" />
    </directories>
</ldapConfiguration>