<appSettings>
  <add key="log4net.Internal.Debug" value="true" /><!-- DO NOT REMOVE THIS!!!!! -->
  <add key="IssuerName" value="PassiveSigninSTS"/>
  <add key="SigningCertificateName" value="CN=STSTestCert"/>
  <add key="EncryptingCertificateName" value=""/>

  <add key="credentialsFilePath" value="C:\temp\EdFi\auth.txt" />

  <add key="showExceptionDetails" value="true" />
  <add key="jira.defaultAssignee" value="changeme@provider.com"/>

</appSettings>