<appSettings>
  <add key="log4net.Internal.Debug" value="true" /><!-- DO NOT REMOVE THIS!!!!! -->
  <add key="IssuerName" value="PassiveSigninSTS"/>
  <add key="SigningCertificateName" value="B955C12BF2EED65D42AA9177885CF157E58EB444"/>
  <add key="EncryptingCertificateName" value=""/>

  <add key="showExceptionDetails" value="true" />
  <add key="jira.defaultAssignee" value="changeme@provider.com"/>
  <add key="WoopraDomainTracking" value="dlpdemo.com"/>
  <add key="ConnectionStringTemplate" value="Data Source={server};Database={databaseName};User Id={user};Password={password};" />

</appSettings>
