<appSettings>
  <add key="log4net.Internal.Debug" value="true" /><!-- DO NOT REMOVE THIS!!!!! -->
  <add key="IssuerName" value="PassiveSigninSTS"/>
  <add key="SigningCertificateName" value="8DF899F51D38DB2F441E749BD484EAB243491F74"/>

  <add key="credentialsFilePath" value="C:\temp\EdFi\auth.txt" />

  <add key="showExceptionDetails" value="false" />
  <add key="jira.defaultAssignee" value="changeme@provider.com"/>

</appSettings>