<appSettings>
  <add key="log4net.Internal.Debug" value="true" /><!-- DO NOT REMOVE THIS!!!!! -->
  <add key="IssuerName" value="PassiveSigninSTS"/>
  <add key="SigningCertificateName" value="F6EA52BB5C736F79D28E5C50872771C09BC882D1"/>
  <add key="EncryptingCertificateName" value="949109AF20A9B96C6ADD3DB6F332AD6A5E0D2DD1"/>
  <add key="credentialsFilePath" value="C:\ProgramData\EdFi\auth.txt" />
  <add key="showExceptionDetails" value="true" />
  <add key="jira.defaultAssignee" value="changeme@provider.com"/>

</appSettings>